@font-face {
  font-family: "TT Lakes Bold";
  src: local("TTLakes-Bold"),
    url("../fonts/TTLakes/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Bold.eot") format("eot");
}

@font-face {
  font-family: "TT Lakes Medium";
  src: local("TTLakes-Medium"),
    url("../fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Medium.eot") format("eot");
}

@font-face {
  font-family: "TT Lakes Regular";
  src: local("TTLakes-Regular"),
    url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes/TTLakes-Regular.eot") format("eot");
}