$color_1: #1B1C21;
$color_2: #7E7E82;
$color_3: #FFFFFF;
$font-family_1: "TT Lakes Bold";
$font-family_2: "TT Lakes Medium";
$font-family_3: "TT Lakes Regular";
$background-color_1: #FFFFFF;
$background-color_2: #f2f2f2;
$background-color_3: #F8F8F8;